body{
    background: #000000;
}


/*
    font-family: 'Barlow', sans-serif;

    font-family: 'Exo', sans-serif;

    font-family: 'Inter', sans-serif;

    font-family: 'Nunito Sans', sans-serif;

    font-family: 'Orbitron', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Roboto Mono', monospace;

    font-family: 'Work Sans', sans-serif;

    font-family: 'Press Start 2P', cursive;

*/

#clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
    color: #ffffff;
    
    font-size: 50px;

    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

}

#hour{
    display:inline;
}
#minute{
    display:inline;
}
#second{
    display:inline;
}
#ampm{
    display:inline;
}
#colon{
    display:inline;
}