body{
    background: #000000;
}

.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #ffffff;

    font-family: 'Press Start 2P', cursive;
    font-size: 50px;

    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

}

#hour{
    display:inline;
}
#minute{
    display:inline;
}
#second{
    display:inline;
}
#ampm{
    display:inline;
}
#colon{
    display:inline;
}